main.show-visualizations #visualizations {
  display: block;
}
#visualizations {
  display: none;
  font-size: .8em;
  .axis {
    fill: none;
    stroke: #aaa;
    stroke-width: 1px;
  }
  .dot {
    cursor: pointer;
  }
}
