header {
  margin: 0;
  padding: 10px;
  background-color: black;

  h1, p {
    font-family: sans-serif;
    font-weight: 200;
    margin: 0;
  }
  h1 {
    font-size: 0.8em;
    color: white;
  }
  p {
    font-size: 1.0em;
    color: gray;
  }
}
